body{
    text-align: center;
    font-family: 'Lato', sans-serif;
    line-height: 1;
}

.down__container{
    height: 2000px;
    width: 1200px;
    background-color:rgb(252, 237, 223);


}

.upper__container{
    height: 500px;
    width: 1200px;
    background-color: rgb(231, 231, 231);

}


.material-icons-round{
    color:gray;
    font-size: 16px;
}

.header__img-container{
    border-radius: 50px;
    display: inline-block;
    height: 100px;
    width: 100px;
    overflow: hidden;
    position: relative;
    
}

.header__img{
    position:absolute;
    left: 0%;

}

.header__myname{
    margin-top: 10px;
    display: block;
    line-height: 0.1;
    
}

.header__job-position{
    font-size: 12px;
    font-style: italic;
    color:lightslategrey;
    font-family: 'Lora', serif;
    font-weight: lighter;
    letter-spacing: 0.05em; 
    line-height: 0.5;
}

.section__heading,
.header__myname{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.header__figure{
    margin:0;
}

.section__list{
    list-style-type:none;
    margin:0;
    padding:0;
    padding-top:20px;
}

.section__list li:not(:last-child){
    padding-bottom: 10px;
}

.section__item-title{
    display:block;
    text-transform: uppercase;
    color:rgb(143, 111, 73);
    display: inline-block;
    line-height: 1;
}

.section__list{
    display: block;
}


.section__item-subtitle{
    font-style: italic;
    font-size: 14px;
    font-family: 'Lora', serif;
    font-weight: lighter;
    letter-spacing: 0.05em; 
    line-height: 0.5;

}

.section__item-subsubtitle{
    font-style:normal;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.05em; 

}

.section{
    text-align: left;

}

a:link {
    color:black;
 }

main{
    width: 21cm;
    display:inline-block;
    padding: 50px;
    background-color: rgb(247, 247, 247);
    border-radius: 4px;
    box-shadow: rgb(98, 109, 124);
    margin-top: 20px;

}

h2{
    font-size: 16px;
    font-weight: medium;
    letter-spacing: 0.2em; 
}


h1{
    font-size: 18px;
    font-weight: medium;
    letter-spacing: 0.2em; 
    
}

p{
    text-align: left;
    padding-bottom: 20px;
}
