body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    /* background-color: rgb(240, 227, 222); */
    /* padding-top:20px; */

}

.material-icons-round{
    color:gray;
}

.down__container{
    height: 1780px;
    width: 1200px;
    background-color:rgb(252, 237, 223);


}

.upper__container{
    height: 500px;
    width: 1200px;
    background-color: rgb(231, 231, 231);

}



.header__img-container{
    border-radius: 50px;
    display: inline-block;
    height: 100px;
    width: 100px;
    overflow: hidden;
    position: relative;
    
}

.header__img{
    position:absolute;
    left: 0%;

}

.header__myname{
    margin-top: 10px;
    
}

.header__jobposition{
    font-size: 12px;
    font-style: italic;
    color:lightslategrey;
    font-family: 'Lora', serif;
    font-weight: lighter;
    letter-spacing: 0.05em; 
}

.section__heading,
.header__myname{
    text-transform: uppercase;
}

.header__figure{
    margin:0;
}

.section__list{
    list-style-type:none;
    margin:0;
    padding:0;
}

.section__list li:not(:last-child){
    padding-bottom: 10px;
}

.section__item-title{
    display:block;
}

.section__list{
    display: block;
}


.section__item-subtitle{
    color:lightslategrey;
}

.section{
    margin-bottom: 40px;
}



main{
    width: 21cm;
    display:inline-block;
    padding: 20px;
    background-color: rgb(247, 247, 247);
    border-radius: 4px;
    box-shadow: rgb(98, 109, 124);
    margin-top: 20px;

}

h2{
    font-size: 16px;
    font-weight: medium;
    letter-spacing: 0.2em; 
}


h1{
    font-size: 18px;
    font-weight: medium;
    letter-spacing: 0.2em; 
    
}
